{% extends '::base.html.twig' %}

{% block title %}
    Books list
{% endblock %}

{% block body %}

    <div class="content">
        <div class="wrapper">
            <div id="container">

                books list
            </div>
        </div>
    </div>

{% endblock %}

