{% extends "::base.html.twig" %}

{% block title %}
    AddPhone
{% endblock %}

{% block body %}

    <div class="content">
        <div class="wrapper">
            <div id="container">
                <h1>Welcome to the Phones:addPhone page</h1>
            </div>
        </div>
    </div>

{% endblock %}
